In [175]:
import pandas as pd
import math
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Question 1

### Import copied data from clipboard

In [192]:
df = pd.read_clipboard(header=None)

In [193]:
df.head()

        0
0   80590
1   86055
2   92321
3  131464
4   73326

### Create a csv from data

In [194]:
df.to_csv('advent_of_code_question_1_data')

In [196]:
df = pd.read_csv('advent_of_code_question_1_data', index_col=0)

In [200]:
df.head()

        0
0   80590
1   86055
2   92321
3  131464
4   73326

In [201]:
df.shape

(100, 1)

### Question 1.1 Answer

In [205]:
(df['0'] // 3 - 2).sum()

3285627

In [208]:
80590//3 + 26863//3 + 8954//3 + 2984//3 + 994//3 + 331//3 + 110//3 + 36//3 + 12//3 + 4//3 + 1//3

40289

In [209]:
80590 // 3**2

8954

In [210]:
x = 80590
total = 0

### Finding all of the recursive sum totals

In [212]:
for i in df['0']:
    total = 0
    i = i // 3 - 2
    while i > 0:
        total = total + i
        i = i // 3 - 2
    print(total)

40262
42998
46128
65701
36631
72271
62185
36263
48205
32826
53923
70565
65762
74643
26598
27341
47217
39785
73101
36461
29812
25257
44730
36058
36012
28873
71665
37132
54847
45594
39580
65772
37107
72005
53964
46876
56092
40546
37278
27709
33181
24999
26902
37540
65610
67643
31520
66915
71046
72320
64106
46413
30501
58315
66127
37371
37548
38109
57107
62197
43271
27902
58909
28487
62657
48344
25079
61865
70904
73825
32666
37988
26477
30260
70345
43391
49510
62926
69914
30327
38393
49745
65024
38040
56840
49591
66308
65459
68754
66525
35299
51206
66009
46112
73953
30260
45481
29926
73764
72599

### Putting 'for loop' into a function

In [215]:
def recursive_sum(df):
    total_sum = 0
    for i in df['0']:
        i = i // 3 - 2
        total_row = 0
        while i > 0:
            total_row = total_row + i
            i = i // 3 - 2
        total_sum = total_sum + total_row
    return total_sum

### Question 1.2 Answer

In [216]:
recursive_sum(df=df)

4925580

# Question 2

In [159]:
df = pd.read_clipboard(header=None, sep=',')

In [160]:
df = df.T

In [161]:
df.dtypes

0    int64
dtype: object

In [162]:
df[df[0] == 99].index

Int64Index([99, 101, 160], dtype='int64')

In [163]:
df = df.drop(index=[99, 101, 160])

In [166]:
df = df.reset_index()

In [169]:
df = df.drop(columns='index')

In [170]:
df2 = df.iloc[::4, :].reset_index()
df2 = df2.drop(columns = 'index')

In [171]:
df2.columns = ['opdcode']

In [172]:
df3 = df.iloc[1::4, : ].reset_index()
df4 = df.iloc[2::4, : ].reset_index()
df5 = df.iloc[3::4, : ].reset_index()

In [173]:
df3 = df3.drop(columns = 'index')
df4 = df4.drop(columns = 'index')
df5 = df5.drop(columns = 'index')

In [174]:
pd.concat([df2, df3, df4, df5], axis=1)

    opdcode    0     0      0
0         1    0   0.0    3.0
1         1    1   2.0    3.0
2         1    3   4.0    3.0
3         1    5   0.0    3.0
4         2    1  10.0   19.0
5         1   19   5.0   23.0
6         2   23   9.0   27.0
7         1    5  27.0   31.0
8         1    9  31.0   35.0
9         1   35  10.0   39.0
10        2   13  39.0   43.0
11        1   43   9.0   47.0
12        1   47   9.0   51.0
13        1    6  51.0   55.0
14        1   13  55.0   59.0
15        1   59  13.0   63.0
16        1   13  63.0   67.0
17        1    6  67.0   71.0
18        1   71  13.0   75.0
19        2   10  75.0   79.0
20        1   13  79.0   83.0
21        1   83  10.0   87.0
22        2    9  87.0   91.0
23        1    6  91.0   95.0
24        1    9  95.0    2.0
25       10  103   1.0  103.0
26        5  107   2.0    6.0
27      107  111   1.0  111.0
28        6  115   1.0    9.0
29      115  119   1.0    9.0
30      119  123   2.0   10.0
31      123  127   1.0  127.0
32        5  131   2.0    6.0
33      131  135   1.0  135.0
34        5  139   1.0    9.0
35      139  143   2.0  143.0
36       13  147   1.0    9.0
37      147  151   1.0  151.0
38        2  155   1.0    9.0
39      155    0   2.0    0.0
40       14    0   NaN    NaN